
.header{
  background-color: var(--bg-header);
  position: fixed;
  width: 100%;
  min-height: 6rem;
  display: flex;
  align-items: center;
  z-index: 100;
  padding: 1rem 0;
  border-bottom: 1px solid var(--line-blue);
  box-shadow: 0 1px 5px rgba(11, 121, 172,.5);
}
.header::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 20%;
  height: 5px;
  background: var(--line-blue);
  z-index: 101;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 2% 100%);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4rem;
  fill: #eeeeee;
}

.navigation ul {
  display: flex;
  align-items: baseline;
}

.navigation li {
  margin-left: 4rem;
}

.navigation a {
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-primary);
}

.navigation a:hover {
  color: orange;
}

@media screen and (max-width: 576px) {
  .header {
    display: none;
  }
}
